@import "bootstrap";
@import "font-awesome";

body {
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.top-nav .add {
  margin-top: 10px
}

.top-nav .add a {
  font-weight: bold;
  color: #14bb89;
  font-size: 20px;
  padding-left: 8px;
  text-align: center;
}

.brand {
  color: #14bb89;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 200;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

.handle {
  margin: 10px;
  color: #14bb89;
  font-weight: bold;
  font-size: 18px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400px;
}

.my-btn {
  background-color: #14bb89;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: auto;
}

.comments {
  padding: 20px;
  margin-top: 5px;
}

.comment-handle {
  color: #14bb89;
  font-weight: bold;
  font-size: 18px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}
